@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Cutive+Mono|Overlock+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

nav {
opacity: .7;
margin-top: -20;

}
.brand-logo {
  font-family: 'Cutive Mono', monospace;
  color: white;
}

nav a:link {
  color: white;
  letter-spacing: 3px;
  font-size: 2.2em;
  
}

@media (max-width: 600px) {
  nav a:link {
    color: white;
    letter-spacing: 2px;
    font-size: 1.6em;
  }
  
}
@media (max-width: 320px) {
  nav a:link {
    color: white;
    letter-spacing: 2px;
    font-size: 1.30em;
  }
  
}


.landing-banner {
  height: 698px;
  width: 100%;
  /* background-image: url("./assets/imgs/environment-fog-foggy-1314509.jpg"); */
  background-image: url("./assets/imgs/banner.jpg");
  background-position: center;
  background-size: cover; 
  color: white;
}



/* 
#new-release-banner {
  margin-top: 180px;
}

#release-banner-img {
  height: 300px;
  width: auto;
  box-shadow: 1px 1px 10px rgb(104, 104, 104);
} */

.bottom-nav {
  margin-top: 584px;
  color: white;
  opacity: .9;
}

.bottom-nav .btn{
  background-color: black;
  margin: 7px 0px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .bottom-nav {
    margin-top: 592px;
  }
  
}
.albums {
  background-color: rgb(26, 24, 24);
  
}

.about-segway {
    background-color: black;
    height: 150px;
}

.about {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 24, 24));
  padding-top: 200px;
  padding-bottom: 200px;
  color: #c4c4c4;
  font-size: 1.25em;
}


.card-content {
  height: 100px;
  overflow: scroll;
}


.contact-us {
  padding: 25px;
  color: rgb(185, 185, 185);
  background-color: black;
  border-top: 3.5px solid rgb(27, 27, 27);
  text-align: center;
}

.fab {
  margin-top: 20px;
  font-size: 1.75em;
  color: rgb(206, 206, 206);
  border: 2px solid rgb(170, 170, 170);
  border-radius: 50%;
}
.fa-spotify {
  padding: 5px;
}
.fa-bandcamp {
  padding: 5px;
}
.fa-instagram {
  padding: 5px;
}
.fa-facebook-f {
  padding: 5px 10px;
}
.fa-soundcloud {
  font-size: 1.5em;
  padding: 8px 4px;
}



/* MEDIA QUERY SECTION ******/

@media (max-height: 650px) {

  .landing-banner {
    height: 540px;
    width: 100%;
    /* background-image: url("./assets/imgs/environment-fog-foggy-1314509.jpg"); */
    background-image: url("./assets/imgs/banner.jpg");
    background-position: center;
    background-size: cover; 
    color: white;
    }
    .bottom-nav {
      margin-top: 440px;
      color: white;
      opacity: .9;
    }
}

@media (min-width: 600px) {
  .contact-us-segway {
    height: 300px;
    background-image: linear-gradient(180deg, rgb(26, 24, 24), rgb(37, 27, 27));
  }
}
